:root,
:root *,
:root body {
  font-family: "FreeSans with Oblomki" ! important;
}
:root h1,
:root h1 *,
:root h2,
:root h2 *,
:root h3,
:root h3 *,
:root h4,
:root h4 *,
:root h5,
:root h5 *,
:root h6,
:root h6 * {
  font-family: "FreeSerif with Oblomki" ! important;
}
:root pre,
:root pre *,
:root textarea,
:root textarea *,
:root code,
:root code *,
:root input[type="text"],
:root input[type="text"] *,
:root input:not([type]),
:root input:not([type]) * {
  font-family: "FreeMono with Oblomki" ! important;
}
