[submodule "examples/freefont"]
	path = examples/freefont
	url = https://github.com/Maxattax97/gnu-freefont
	shallow = true
[submodule "examples/autocorrect/typos"]
	path = examples/autocorrect/typos
	url = https://github.com/crate-ci/typos
	shallow = true
