* {
  font-family: "FreeSans with Theire" ! important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "FreeSerif with Theire" ! important;
}
pre, textarea {
  font-family: "FreeMono with Theire" ! important;
}
