@font-face {
  font-family: "FreeMono with Theire";
  src: url("woff/FreeMono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FreeMono with Theire";
  src: url("woff/FreeMonoBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "FreeMono with Theire";
  src: url("woff/FreeMonoOblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "FreeMono with Theire";
  src: url("woff/FreeMonoBoldOblique.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "FreeSans with Theire";
  src: url("woff/FreeSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FreeSans with Theire";
  src: url("woff/FreeSansBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "FreeSans with Theire";
  src: url("woff/FreeSansOblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "FreeSans with Theire";
  src: url("woff/FreeSansOblique.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "FreeSerif with Theire";
  src: url("woff/FreeSerif.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FreeSerif with Theire";
  src: url("woff/FreeSerifBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "FreeSerif with Theire";
  src: url("woff/FreeSerifOblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "FreeSerif with Theire";
  src: url("woff/FreeSerifOblique.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

* {
  font-family: "FreeSans with Theire" ! important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "FreeSerif with Theire" ! important;
}
pre, textarea {
  font-family: "FreeMono with Theire" ! important;
}
