@font-face {
  font-family: "FreeMono with Oblomki";
  src: url("https://divverent.github.io/oblomki/examples/woff/FreeMono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FreeMono with Oblomki";
  src: url("https://divverent.github.io/oblomki/examples/woff/FreeMonoBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "FreeMono with Oblomki";
  src: url("https://divverent.github.io/oblomki/examples/woff/FreeMonoOblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "FreeMono with Oblomki";
  src: url("https://divverent.github.io/oblomki/examples/woff/FreeMonoBoldOblique.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "FreeSans with Oblomki";
  src: url("https://divverent.github.io/oblomki/examples/woff/FreeSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FreeSans with Oblomki";
  src: url("https://divverent.github.io/oblomki/examples/woff/FreeSansBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "FreeSans with Oblomki";
  src: url("https://divverent.github.io/oblomki/examples/woff/FreeSansOblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "FreeSans with Oblomki";
  src: url("https://divverent.github.io/oblomki/examples/woff/FreeSansOblique.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "FreeSerif with Oblomki";
  src: url("https://divverent.github.io/oblomki/examples/woff/FreeSerif.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FreeSerif with Oblomki";
  src: url("https://divverent.github.io/oblomki/examples/woff/FreeSerifBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "FreeSerif with Oblomki";
  src: url("https://divverent.github.io/oblomki/examples/woff/FreeSerifOblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "FreeSerif with Oblomki";
  src: url("https://divverent.github.io/oblomki/examples/woff/FreeSerifOblique.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
