@font-face {
  font-family: "FreeMono with Oblomki";
  src: url("oblomki/woff/FreeMono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FreeMono with Oblomki";
  src: url("oblomki/woff/FreeMonoBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "FreeMono with Oblomki";
  src: url("oblomki/woff/FreeMonoOblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "FreeMono with Oblomki";
  src: url("oblomki/woff/FreeMonoBoldOblique.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "FreeSans with Oblomki";
  src: url("oblomki/woff/FreeSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FreeSans with Oblomki";
  src: url("oblomki/woff/FreeSansBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "FreeSans with Oblomki";
  src: url("oblomki/woff/FreeSansOblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "FreeSans with Oblomki";
  src: url("oblomki/woff/FreeSansOblique.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "FreeSerif with Oblomki";
  src: url("oblomki/woff/FreeSerif.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FreeSerif with Oblomki";
  src: url("oblomki/woff/FreeSerifBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "FreeSerif with Oblomki";
  src: url("oblomki/woff/FreeSerifOblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "FreeSerif with Oblomki";
  src: url("oblomki/woff/FreeSerifOblique.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

* {
  font-family: "FreeSans with Oblomki" ! important;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "FreeSerif with Oblomki" ! important;
}
pre, textarea {
  font-family: "FreeMono with Oblomki" ! important;
}
